In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
df = pd.read_csv("students_marks.csv")

In [8]:
df

   Name  Math  Science  English  History  Computer
0  Amit    78       88       90       76        95
1  Sara    92       81       85       89        91
2  John    65       72       70       68        60

In [9]:
# Calculate total marks and percentage
df['Total'] = df[['Math', 'Science', 'English', 'History', 'Computer']].sum(axis=1)
df['Percentage'] = df['Total'] / 5

In [10]:
# Function to determine feedback
def get_feedback(percentage):
    if percentage > 90:
        return "Excellent"
    elif percentage >= 75:
        return "Good"
    elif percentage >= 50:
        return "Average"
    else:
        return "Needs Improvement"

In [17]:
print("---- Report Card ----")
for index, row in df.iterrows():
    print("\nName: {}".format(row['Name']))
    print("Total: {} / 500".format(int(row['Total'])))
    print("Percentage: {:.1f}%".format(row['Percentage']))
    print("Feedback: {}".format(get_feedback(row['Percentage'])))

---- Report Card ----

Name: Amit
Total: 427 / 500
Percentage: 85.4%
Feedback: Good

Name: Sara
Total: 438 / 500
Percentage: 87.6%
Feedback: Good

Name: John
Total: 335 / 500
Percentage: 67.0%
Feedback: Average